/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
    border: 1px solid black;
    padding:10px;
    width: 450px;
}

#testoAlternato p {
    font-weight: 700;
}

.parole {
    position: relative;
}

.parole i {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


.parole i:first-child {
    animation: ruota 10s ease-in-out;
}

@keyframes ruota {
    0% {
        transform: rotateZ(0deg);
        color: rgb(255, 132, 0);
        opacity: 1;
    }

    50% {
        color: rgb(197, 157, 45);

    }

    100% {
        transform: rotateZ(360deg);
        opacity: 1;
        color: rgb(120, 51, 51);

    }

}
